:root {
    --text-color: #FFFF;
    --link-color: #83a0f0;

    --surface-a0: #121212;
    --surface-a1: #282828;
    --surface-a2: #3f3f3f;
    --surface-a3: #575757;
    --surface-a4: #717171;
    --surface-a5: #8b8b8b;

    --primary-a0: #a664b7;
    --primary-a1: #b075bf;
    --primary-a2: #bb86c7;
    --primary-a3: #c597cf;
    --primary-a4: #cfa8d7;
    --primary-a5: #d9b9df;

    --tonal-a0: #1f1a20;
    --tonal-a1: #342f35;
    --tonal-a2: #4a454b;
    --tonal-a3: #615d62;
    --tonal-a4: #79767a;
    --tonal-a5: #939093;

}

body.light-theme {
    --text-color: #000;
    --link-color: #007bff;
  
    --surface-a0: #ffffff;
    --surface-a1: #f0f0f0;
    --surface-a2: #e1e1e1;
    --surface-a3: #d3d3d3;
    --surface-a4: #c4c4c4;
    --surface-a5: #b6b6b6;
  
    --primary-a0: #a765b8;
    --primary-a1: #a369b2;
    --primary-a2: #9f6cac;
    --primary-a3: #9b6fa5;
    --primary-a4: #97739f;
    --primary-a5: #937599;
  
    --tonal-a0: #f7eff8;
    --tonal-a1: #e9e2ea;
    --tonal-a2: #dbd5dc;
    --tonal-a3: #cec9ce;
    --tonal-a4: #c0bcc1;
    --tonal-a5: #b3b0b4;
  }
  
  body.light-theme {
    background: linear-gradient(var(--surface-a1), var(--tonal-a0));
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open-Sans', sans-serif;
    background: linear-gradient(var(--surface-a1), var(--tonal-a0));
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--text-color)
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 60%; 
    height: 35px; 
    background: var(--surface-a2); 
    border-radius: 40px;
    outline: none;
    opacity: 0.75; 
    -webkit-transition: 0.2s; 
    transition: opacity .2s;
  }

nav .left .slider:hover {
  opacity: 1; 
}

nav .left .slider::-webkit-slider-thumb {
    background: var(--thumb-image) center/contain no-repeat;
}
  
nav .left .slider::-moz-range-thumb {
    background: var(--thumb-image) center/contain no-repeat;
}

nav .left .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--thumb-image) center/contain no-repeat;
    border: none;
    cursor: pointer;
  }
  
  nav .left .slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--thumb-image) center/contain no-repeat;
    border: none;
    cursor: pointer;
  }

  
nav .right button{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    margin: 0 3px;
    height: fit-content;
    background-color: var(--surface-a);
    border-color: var(--surface-a3);
    border-radius: 5px;
    padding: 4px;
}

nav .right button:hover{
    filter: brightness(0.7);
}

nav .right a span{
    margin-left: 5px;
}

/* Hero */

.split {
    display: flex;
    gap: 70px;            
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.split .hero-section,
.split .about-me-section{
    flex: 1;
}


.hero-section {
    display:flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    gap: 30px;
}

.hero-section .headshot img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero-section .text {
    margin-top: 50px;
    flex: 5;
}

.hero-section .text h2{
    font-size: 40px;
    white-space: nowrap;
}

.hero-section .text h3{
    color: var(--surface-a4);
    font-size: 12px;
    margin-top: 9px;
}
.hero-section .text p{
    color: var(--surface-a4);
    font-size: 16px;
}

.hero-section .text a{
    font-size: 20px;
    display: inline-block;
    padding: 10px 2px;
    color: var(--text-color);
    
}

/* about me */

.about-me-section{
    padding: 100px 50px;
    text-align: center;
}

.about-me-section h2{
    font-size: 35px;
}

/* skills */

.skills-section{
    padding: 50px 50px;
    text-align: center;
}

 .skills-section h2{
    font-size: 35px;
  }


.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 20px;
    border: 2px solid var(--surface-a4);
    border-radius: 5px;
    margin: 10px;
    background-color: var(--surface-a1)
}

.skills-section .cells .cell img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 2px;
    padding: 7px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

/* Experience */



.split {
    display: flex;
    gap: 70px;            
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.split .experience-section,
.split .about-me-section{
    flex: 1;
}
.experience-section{
    padding: 50px 50px;
    text-align: center;
}

.experience-section h2{
    padding: 20px 0;
    font-size: 35px;
}


/* projects */

.projects-section{
    padding: 50px 50px;
    text-align: center;
}

.projects-section h2{
    font-size: 35px;
}

/* contact */

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: "Open-Sans", sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 50px;
    outline: none;
    resize: none;
    border-radius: 5px;
    color: var(--text-color);
}

.contact-section .group form label{
    margin-bottom: 2px;
    margin-left: 2px;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: "Open-Sans", sans-serif;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
    border-radius: 5px;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}

/* Responsiveness */

@media (max-width: 850px) {
    .split {
        flex-direction: column;
        gap: 20px;
      }
    .hero-section .text h2{
      font-size: 35px;  
    }
}

@media (max-width: 740px){
    .contact-section .group{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* hero */

    .hero-section{
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size:  30px;
    }

    /* skills */
    
    .skills-section{
        padding: 0 20px;
    }

    .skills-section .cells .cell span{
        font-size: 10px;
    }

    /* contact */

    .contact-section{
        padding: 0 20px;
    }
}